extends layout

block content
  h1= title
  p Welcome to #{title}

  dd
    each message in messages
  
        dl.message
          div.msgtop
            h3 #{message.user} 
            h4 #{message.added_format}
          p.indent #[strong Message:] #{message.message}
        
